@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints 
--------------------------------

-Pequenas Telas: até 576px
-Celulares: até 768px
-Médio ou tables: até 992px
-Grande ou monitores: até 1200px
-Grandes telas ou tv´s: acima de 1200px
*/

@media print { /* Impressoras */
    body {
        background-image: url(../imagens/back-print.jpg); /* Desnecessário */
        
    }

    main {
        border: 2px solid black;
    }

    main::after {
        content: 'Essa impressão foi feita através do site www.cursoemvideo.com';
        text-decoration: overline;
    }

    main h1 {
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
        color: black;
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: block; }
    img#pc { display: none; }
    img#tv { display: none; }
    
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* TABLETS */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone { display: none; }
    img#tablet { display: block; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: none; }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* Desktop */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    main {
        width: 500px;
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: block; }
    img#tv { display: none; }
    }

@media screen and (min-width: 1200px) { /* GRANDES TELAS */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 700px;
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: block; }
    }